html {
  /* Sacado de https://css-pattern.com/ */
  --s: 200px;
  /* control the size */
  --c: #fff;
  /* first color */

  --_g: #0000 8%, var(--c) 0 17%, #0000 0 58%;
  background:
    linear-gradient(135deg, #0000 20.5%, var(--c) 0 29.5%, #0000 0) 0 calc(var(--s)/4),
    linear-gradient(45deg, var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg, var(--_g), var(--c) 0 67%, #0000 0),
    linear-gradient(45deg, var(--_g), var(--c) 0 67%, #0000 0 83%, var(--c) 0 92%, #0000 0),
    #6494eda0;
  /* second color */
  background-size: var(--s) var(--s);
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.form-container {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form+p,
form p {
  text-align: center;
}

input,
button {
  border-radius: 4px;
  border: unset;
  padding: 15px 30px;
  font-size: large;
}

input:not(input[type="submit"]) {
  background-color: #6494ed10;
}

input[type="submit"],
button {
  background-color: #6494eda0;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: 200ms;
}

input[type="submit"]:hover,
button:hover {
  filter: brightness(0.9);
  transform: scale(1.02);
}

input[type="submit"]:active,
button:active {
  filter: brightness(1);
  transform: scale(1);
}

.error {
  color: rgb(255, 58, 58);
}

.oculto {
  display: none;
}

.sr-only {
  position: absolute;
  left: -99999px;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#admin-container,
#index-container {
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

#index-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}